<html>
  <head>
    <title>Simple Task Manager</title>
    <style>
        .newspaper {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 2;
        }
        .head {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="head">
        <h1>SIMPLE TASK MANAGER</h1>
        <h2>using MongoDB</h2>
    </div>
    <div class="newspaper">
        <form method="POST">
            {{ cform.hidden_tag() }}
            <fieldset>
                <legend>Create Task</legend>
                {{ cform.title.label }}<br>

                {{ cform.title }}<br>
                
                {{ cform.create }}
            </fieldset>
        </form>
    <br>
    <br>
    <br>
    <br>
    
    <b>Tasks List:</b><br><br>
    {% for i in data %}
        ID = {{ i["id"] }} <br>
        Title = {{ i["title"] }}<br>
        Short Description = {{ i["shortdesc"] }} <br>
        Priority = {{ i["priority"] }}<br><br>
    {% endfor %}
  </body>
</html>
